body {
  margin: 0px;
  padding: 0px;
}

div {
  background-color: lightgrey;
  width: 140px;
  height: 80px;
  padding: 30px;
  border: 10px solid black;
  margin: 30px;
}

h1 {
  background-color: lightblue;
  padding: 20px;
  margin: 30px;
  border: 4px solid #111;
  
}
