* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

#centro {
  text-align: center;
  margin-top: 40px;
}
.fundo {
  background-color: #111;
  color: white;
  padding: 10px;
  margin: 10px auto;
  width: 90%;
  border-radius: 5px;
}

h1,
h2 {
  padding: 10px;
}

p{
  padding: 10px;
  color: #b2b2b2;
}

.dourado {
  color: #febe01;
}

.botao {
  display: inline-block;
  text-decoration: none;
  background-color: #febe01;
  color: #332200;
  padding: 10px;
  margin: 10px 10px;
  border-radius: 5px;
  width: 15%;
}
