:root {
  --cor1: #a8f;
  --cor2: #f7f7f7;
  --cor3: #e7e7e7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0px;
}

.grid {
  height: 800px;
  display: grid;
  align-content: end;
  grid-template-columns: auto auto;
  gap: 20px;
}

.item {
  display: grid;
  background-color: var(--cor2);
  border: 1px solid var(--cor3);
  padding: 20px;
  border-radius: 4px;
}

.comprar {
  background-color: var(--cor1);
  text-decoration: none;
  padding: 10px 20px;
  color: #103;
  border-radius: 4px;
}
