:root {
  --cor1: #a8f;
  --cor2: #f7f7f7;
  --cor3: #e7e7e7;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.titulo{
  grid-column: 1 / -1;
}

.info{
  place-self: start;
  display: grid;
  place-items: start;
  gap: 20px;
}

/*Estilos Gerais*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
}

h1,
p {
  margin: 0px;
}

h1 {
  font-size: 48px;
  line-height: 1;
}

p,
span {
  font-size: 20px;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

.comprar {
  background-color: var(--cor1);
  text-decoration: none;
  padding: 10px 20px;
  color: #103;
  border-radius: 4px;
  font-size: 20px;
}

.preco {
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}
